
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-header {
  position: absolute; 
  top: 0;
  font-size: 60px; 
  background-color: #007bff; 
  width: 100%;
  text-align: center;
  padding: 20px 0; 
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2); 

}

.header-content {
  color: white;
  font-size: 60px; 
  font-weight: bold; 
  text-shadow: 
    3px 3px 0px rgba(0, 0, 0, 0.1), 
    -1px -1px 0px rgba(255, 255, 255, 0.5); 
  display: inline-block;

}

.login-container {
  width: 400px; 
  padding: 40px 20px;
  background-color: white;
  border-radius: 8px;
}

.login-input {
  width: 100%;
  padding: 10px;
  background-color: #EDEBEB;
  margin-bottom: 20px;
  border: 1px solid #000000;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.login-button,
.signup-button {
  width: 100%;
  border: 2px solid #0c0c0c;
  margin: 10px 0;
  padding: 10px 0;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.divider {
  text-align: center;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: '';
  background-color: #000000;
  display: inline-block;
  height: 2px;
  vertical-align: middle;
  width: 100px;
  margin: 0 10px;
}


.login-footer {
  background-color: #007bff;
  color: white;
  width: 100%;
  height: 50px; 
  position: absolute; 
  bottom: 0;
}
